<h1 style="text-align: left;">COAM Digital</h1>

<div class="statistics-container">
  <div class="stat-panel">
    <h2>Total de Colegiados</h2>
    <p>{{ totalColegiados }}</p>
  </div>
  <div class="stat-panel">
    <h2>Total de Arquitectos</h2>
    <p>{{ totalArquitectos }}</p>
  </div>
  <div class="stat-panel">
    <h2>Total de Solicitudes</h2>
    <p>{{ totalSolicitudes }}</p>
  </div>
  <div class="stat-panel">
    <h2>Total de Altas</h2>
    <p>{{ totalAltas }}</p>
  </div>
</div>
<app-tabla-arquitectos></app-tabla-arquitectos>