/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #333;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
select,
textarea {
    font-family: inherit;
}