.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.filters-container {
    display: flex;
    align-items: center;
    /* Alinea verticalmente todos los elementos */
    gap: 0.5rem;
    /* Ajusta el espacio entre los elementos */
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten si el espacio es reducido */
}

.filters-container>* {
    flex: 1;
    /* Hace que todos los elementos tengan el mismo tamaño horizontal */
    min-width: 150px;
    /* Ancho mínimo para inputs y dropdowns */
    max-width: 200px;
    /* Ancho máximo para evitar inputs demasiado grandes */
}

.filters-container .p-button {
    height: 38px !important;
    /* Igualar la altura de los botones a la de los inputs */
    padding: 0 1rem !important;
    /* Ajusta el relleno interno */
    line-height: 1 !important;
    /* Asegura que el texto esté centrado */
    font-size: 14px !important;
    /* Tamaño del texto acorde al resto */
}

.filters-container .p-inputtext,
.filters-container .p-dropdown,
.filters-container .p-calendar {
    height: 38px !important;
    /* Igualar alturas de inputs y dropdowns */
    font-size: 14px !important;
    /* Asegura un tamaño de texto consistente */
    padding: 0.25rem !important;
    /* Ajusta el relleno */
}

.filter-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

::ng-deep .p-datatable {
    font-size: 12px !important;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td,
::ng-deep .p-datatable .p-datatable-thead>tr>th {
    padding: 0.5rem !important;
}

::ng-deep .filters-container .p-inputtext,
::ng-deep .filters-container .p-dropdown,
::ng-deep .filters-container .p-calendar {
    font-size: 12px !important;
    height: 30px !important;
    padding: 0.25rem !important;
}