.filters-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.filters-container p-dropdown,
.filters-container input {
    flex: 1;
    min-width: 150px;
}

.filter-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

button.p-button-secondary {
    background-color: #e0e0e0;
    color: #000;
}